# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Environment files
.env
.env.*
!.env.example

# Version control
.git
.gitignore

# Dev/editor files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Misc
README.md
*.md
